<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="../assest/css/RegPage.css" />
  </head>
  <body>
    <div class="container">
      <h2>Registration Form</h2>
      <div class="reg_form">
        <div class="reg_form_inner">
          <form method="post" action="../controller/UserRegCheck.php">
            <input type="text" name="username" placeholder="Name"/>
            <input type="text" name="userPhone" placeholder="Phone"/><br />
            <input type="text" name="userEmail" placeholder="Email"/>
            <input type="text" name="userNid" placeholder="NID Number"  required />
            <input
              type="text"
              name="dob"
              placeholder="Date of Birth"
              onfocus="(this.type='date')"
              required
            />
            <input type="text" name="userPermanentAdd" placeholder="Permanent Address" required /><br />
            <input type="text" name="userTemporaryAdd" placeholder="Temporary address"  required />
            <input type="text" name="userAreaCode" placeholder="Area Zip Code" /><br />
            <input type="text" name="userPassword" placeholder="Password"  />
            <input type="text" name="userConfirmPassword" placeholder="Confirm Password"  required /><br />
            <select name="gender" required>
              <option class="default" value="" disabled selected>Gender</option>
              <option value="Male" required>Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
            </select>
            <select name="acctype" required>
              <option class="default" value="" disabled selected>
                Account Type
              </option>
              <option value="Saving">Saving</option>
              <option value="Current">Current</option>
            </select>
            <br />
            <button id="submit" type="submit" name="submit" value="Submit" />Submit</button><br>
            <a id="login" href="../view/LoginPage.html">Already have an account?</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <fieldset>
  <form method="post" action="../controller/UserRegCheck.php">
    <legend><h1>Please fill up the form with valid information</h1></legend>
    Name <input type="text" name="username" value="" /><br />
    Father's Name
    <input type="text" name="userFatherName" value="" /><br />
    Mother's Name
    <input type="text" name="userMotherName" value="" /><br />
    Date of Birth
    <input type="date" name="dob" value="" /><br />
    Gender
    <select name="userGender">
      <option value="none">Select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <br />
    Blood Group
    <select name="userBloodType">
      <option value="none">Select</option>
      <option value="A_Positive">A Positive</option>
      <option value="A_Negative">A Negative</option>
      <option value="B_Positive">B Positive</option>
      <option value="B_Negative">B Negative</option>
      <option value="AB_Positive">AB Positive</option>
      <option value="AB_Negative">AB Negative</option>
      <option value="O_Positive">O Positive</option>
      <option value="O_Negative">O Negative</option>
    </select>
    <br />
    Account type
    <select name="accountType">
      <option value="none">Select</option>
      <option value="Current_Accoutnt">Current Account</option>
      <option value="Saving_Account">Saving Account</option>
      <option value="Fixed_Deposit_Account">Fixed deposit Account</option>
    </select>
    <br />
    Email <input type="text" name="userEmail" value="" /><br />
    Phone <input type="text" name="userPhone" value="" /><br />
    Password <input type="password" name="userPassword" value="" /><br />
    Confirm Password
    <input type="password" name="userConfirmPassword" value="" /><br />
    <input type="submit" name="submit" value="Submit" />
  </form>
</fieldset> -->
