<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="../assest/css/RegPage.css" />
  </head>
  <body>
    <div class="container">
      <h2>Registration Form</h2>
      <div class="reg_form">
        <div class="reg_form_inner">
          <form method="post" action="../controller/UserRegCheck.php">
            <input type="text" name="username" placeholder="Name"/>
            <input type="text" name="userPhone" placeholder="Phone"/><br />
            <input type="text" name="userEmail" placeholder="Email"/>
            <input type="text" name="userNid" placeholder="NID Number"  required />
            <input
              type="text"
              name="dob"
              placeholder="Date of Birth"
              onfocus="(this.type='date')"
              required
            />
            <input type="text" name="userPermanentAdd" placeholder="Permanent Address" required /><br />
            <input type="text" name="userTemporaryAdd" placeholder="Temporary address"  required />
            <input type="text" name="userAreaCode" placeholder="Area Zip Code" /><br />
            <input type="text" name="userPassword" placeholder="Password"  />
            <input type="text" name="userConfirmPassword" placeholder="Confirm Password"  required /><br />
            <select name="userGender" required>
              <option class="default" value="" disabled selected>Gender</option>
              <option value="Male" required>Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
            </select>
            <select name="accountType" required>
              <option class="default" value="" disabled selected>
                Account Type
              </option>
              <option value="Saving">Saving</option>
              <option value="Current">Current</option>
            </select>
            <br />
            <button id="submit" type="submit" name="submit" value="Submit" />Submit</button><br>
            <a id="login" href="../view/LoginPage.html">Already have an account?</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>